@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */
:root { color-scheme: light; }
html, body, #root { height: 100%; }
body { @apply font-sans bg-white text-gray-900; }

/* Cuộn mượt khi dùng anchor/scrollIntoView */
html { scroll-behavior: smooth; }

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; } /* Chrome/Safari/Edge */
  .no-scrollbar { 
    -ms-overflow-style: none;    /* IE, Edge Legacy */
    scrollbar-width: none;       /* Firefox */
  }
}